name: Lab CI

on:
  push:
    branches:
      - testing-ci-process
  pull_request:
    branches:
      - testing-ci-process

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'

    - name: Install dependencies
      run: npm ci

    - name: Install Playwright Browsers
      run: npx playwright install --with-deps

    - name: Run tests
      run: npx playwright test
